USE [master]
GO
/****** Object:  Database [ParkPlus]    Script Date: 15/11/2025 03:30:39 ******/
CREATE DATABASE [ParkPlus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkPlus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkPlus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkPlus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ParkPlus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkPlus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkPlus]
GO
/****** Object:  User [danipark]    Script Date: 15/11/2025 03:30:39 ******/
CREATE USER [danipark] FOR LOGIN [danipark] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [danipark]
GO
/****** Object:  Table [dbo].[area]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[capacidad] [int] NOT NULL,
	[tipodevehiculo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spot]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[codigodearea] [varchar](20) NOT NULL,
	[tipodevehiculo] [varchar](10) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placaVehiculo] [varchar](15) NOT NULL,
	[carnetUsuario] [varchar](20) NOT NULL,
	[tipoUsuario] [varchar](20) NOT NULL,
	[tipoVehiculo] [varchar](20) NOT NULL,
	[codigoSpot] [varchar](10) NOT NULL,
	[codigoArea] [varchar](10) NOT NULL,
	[fechaHoraIngreso] [datetime] NOT NULL,
	[fechaHoraSalida] [datetime] NULL,
	[tarifaAplicada] [varchar](30) NOT NULL,
	[monto] [float] NULL,
	[metodoPago] [varchar](20) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carnet] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[tipoUsuario] [varchar](20) NULL,
	[carrera] [varchar](100) NULL,
	[semestre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_vehiculo]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_vehiculo](
	[idUsuario] [int] NOT NULL,
	[idVehiculo] [int] NOT NULL,
	[rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo]    Script Date: 15/11/2025 03:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[color] [varchar](50) NULL,
	[tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[spot] ADD  DEFAULT ((0)) FOR [estado]
GO
ALTER TABLE [dbo].[ticket] ADD  DEFAULT (sysdatetime()) FOR [fechaHoraIngreso]
GO
ALTER TABLE [dbo].[ticket] ADD  DEFAULT ((0)) FOR [monto]
GO
ALTER TABLE [dbo].[spot]  WITH CHECK ADD  CONSTRAINT [FK_spot_area] FOREIGN KEY([codigodearea])
REFERENCES [dbo].[area] ([codigo])
GO
ALTER TABLE [dbo].[spot] CHECK CONSTRAINT [FK_spot_area]
GO
ALTER TABLE [dbo].[usuario_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario_vehiculo] CHECK CONSTRAINT [FK_Usuario]
GO
ALTER TABLE [dbo].[usuario_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo] FOREIGN KEY([idVehiculo])
REFERENCES [dbo].[vehiculo] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario_vehiculo] CHECK CONSTRAINT [FK_Vehiculo]
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD  CONSTRAINT [CK_area_nombre] CHECK  (([nombre]='MOTOS' OR [nombre]='DOCENTES' OR [nombre]='ESTUDIANTES'))
GO
ALTER TABLE [dbo].[area] CHECK CONSTRAINT [CK_area_nombre]
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD  CONSTRAINT [CK_area_tipo] CHECK  ((([nombre]='DOCENTES' OR [nombre]='ESTUDIANTES') AND [tipodevehiculo]='CARRO' OR [nombre]='MOTOS' AND [tipodevehiculo]='MOTO'))
GO
ALTER TABLE [dbo].[area] CHECK CONSTRAINT [CK_area_tipo]
GO
ALTER TABLE [dbo].[spot]  WITH CHECK ADD CHECK  (([tipodevehiculo]='MOTO' OR [tipodevehiculo]='CARRO'))
GO
ALTER TABLE [dbo].[usuario_vehiculo]  WITH CHECK ADD CHECK  (([rol]='Tercero' OR [rol]='Propietario'))
GO
USE [master]
GO
